<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArtistDetailWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PruebaItunes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F2841EF29A61CA3004AFA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F28420529A61CA5004AFA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F28420F29A61CA5004AFA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F846DE82A419FDF00EF0021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
